version: 2
updates:
  - package-ecosystem: nuget
    directory: "/"
    schedule:
      interval: weekly
    target-branch: main
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
    target-branch: main
  - package-ecosystem: docker
    directory: "src/MyTestApplication/"
    schedule:
      interval: weekly
    target-branch: main
